/* Slider.css */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider-image {
  width: 100vw; /* Full width of the viewport */
  flex-shrink: 0; /* Prevents images from shrinking */
  object-fit: cover; /* Ensures images cover the entire container */
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;
}

.arrow:hover {
  opacity: 1;
}
